@page "/games/create"
@inject zad2.Data.ApplicationDbContext DB
@using zad2.Data
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Game.Title" class="form-control" /> 
                <ValidationMessage For="() => Game.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Game.Description" class="form-control" /> 
                <ValidationMessage For="() => Game.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="relese" class="form-label">Relese:</label> 
                <InputDate id="relese" @bind-Value="Game.Relese" class="form-control" /> 
                <ValidationMessage For="() => Game.Relese" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Game.Rate" class="form-control" EnableMinMax="true" Min="0" Max="10" />
                <ValidationMessage For="() => Game.Rate" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">URL:</label>
                <InputText id="url" @bind-Value="Game.url" class="form-control" />
                <ValidationMessage For="() => Game.url" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Game Game { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddGame()
    {
        DB.Game.Add(Game);
        Game.NoRates += 1;
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
