@using Microsoft.AspNetCore.Authorization

@page "/games"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject zad2.Data.ApplicationDbContext DB
@using zad2.Data
@* @attribute [Authorize] *@

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<AuthorizeView>
    <Authorized>
        <p>
            <a href="games/create">Create New</a>
        </p>
    </Authorized>
</AuthorizeView>


<QuickGrid Class="table" Items="DB.Game">
    <PropertyColumn Property="game => game.Title" />
    <PropertyColumn Property="game => game.Description" />
    <PropertyColumn Property="game => game.Relese" />
    <PropertyColumn Property="game => game.Rate" />

    <TemplateColumn Context="game">
        <AuthorizeView>
            <Authorized>
                <a href="@($"games/edit?id={game.Id}")">Edit</a> |
                <a href="@($"games/details?id={game.Id}")">Details</a> |
                <a href="@($"games/delete?id={game.Id}")">Delete</a>
            </Authorized>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>
